<!DOCTYPE html>  
 <html>  
 <head>  

     <title>a tablo</title>  

 </head>  
 <body>  
 

    <h2>YÖNTEM 1 İÇİN HESAPLAMA</h2>   
    <form action = "/yontem_1" method="post">   
   
    P değeri: <input type="text" name="p">
    <br> 
    L değeri: <input type="text" name="l">
    <br>
    Çelik sınıfı: <input type="text" name="celik_sinifi"> 
    <br>
    Kesit seçin:
    <select id="demir" name="kesit">
      <option value="">SEÇİM YAPIN</option>
      {%  for i in satir_liste  %}
      <option value="{{i}}">{{i}}</option>
      {%endfor%}

    <br><br>
    <input type="submit" value="HESAPLA">
    <br>
  
    </form>  

<div>
<p>p: {{p}}, l: {{l}}, kesit: {{kesit}}, çelik sınıfı: {{celik_sinifi}}</p>
<h1>{{uygun_mu}}</h1>

</div>


 </body>  
 </html>