<!DOCTYPE html>  
 <html>  
 <head>  
     <title>a tablo</title>  

     <style>

        table, th, td {
          border: 2px solid black;
          text-align: center;
        }
        
        table {
          width: 100%;
          background-color: gainsboro;
        }
        
        th {
          height:100px;
        }
      

select {
    font-size: .9rem;
    padding: 2px 5px;
}


        
        </style>


 </head>  
 <body>  
 

  <form action = "/sec" method="post">   
   
    <label for="demir">kesit seçin:</label>

    <br>


    <input type="submit" value="ONAY">
 
    </form> 


    <h2>YÖNTEM 1 İÇİN HESAPLAMA</h2>   
    <form action = "/sec" method="post">   
    <table>
   
    <tr><td>P değeri</td><td><input type="text" name="p"></td></tr>   
    <tr><td>L değeri</td><td><input type="text" name="l"></td></tr> 
    <select id="demir" name="kesit">
      <option value="">SEÇİM YAPIN</option>
      <option value="HE 100 A">HE 100 A</option>
      <option value="HE 100 B">HE 100 B</option>
      <option value="HE 100 M">HE 100 M</option>
      <option value="HE 1000 A">HE 1000 A</option>
    </select>
    <tr><td><input type="submit" value="HESAPLA"></td></tr>
   
    </table>  
    </form>  





 </body>  
 </html>