<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="\static\w3.css">
  <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <title>Anasayfa - Çelik Kiriş Tasarımı</title>

  <style>
    .btn {
      border: none;
      outline: none;
      padding: 10px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }

    /* Style the active class (and buttons on mouse-over) */
    .active,
    .btn:hover {
      background-color: #666;
      color: white;
    }
  </style>

</head>

<body style="background-color: #212121">
  <!-- Navbar start-->
  <div class="w3-top">
    <div class="w3-bar w3-wide w3-padding w3-card" style="background-color: #757575;">
      <a href="/" class="w3-bar-item w3-button w3-animate-opacity" style="color: #FFFFFF;"><img
          src="static\favicon3.ico" alt="çelik yapı" title="çelik yapı"><b> ÇELİK</b> YAPI</a>
      <div class="w3-right" style="background-color: #BDBDBD; font-family: Arial;">
        <a href="/" class="w3-bar-item w3-button w3-hover-teal btn active"> <img src="static\home2.ico" alt="anasayfa"
            title="anasayfa">
          Anasayfa</a>
        <a href="yontem_1.html" class="w3-bar-item w3-button w3-hover-teal"> <img src="static\calculate.ico"
            alt="yöntem_1" title="yöntem_1"> Manuel Tasarım</a>
        <a href="yontem_2.html" class="w3-bar-item w3-button w3-hover-teal"><img src="static\calculate.ico"
            alt="yöntem_2" title="yöntem_2"> Otomatik Tasarım</a>
        <a href="\static\celik.apk" class="w3-bar-item w3-button w3-hover-teal" download><img src="\static\android2.ico"
            alt="app indir" title="App indir"> App İNDİR</a>
      </div>
    </div>
  </div>
  <!-- Navbar end-->

  <!-- Content start-->
  <header class="w3-display-container w3-content w3-wide w3-hide-small" style="max-width:100%;" id="home">
    <img class="w3-image w3-animate-opacity" src="\static\steel-construction.jpg" alt="Constuction"
      style="display: block; margin: auto;" width="100%" height="40%">
    <div class="w3-display-middle w3-margin-top w3-center w3-hide-small">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-opacity-min"
          style="background-color: #009688;"><strong>ÇELİK YAPI</strong></span></h1>
    </div>
  </header>

  <div class="w3-content w3-padding" style="max-width:1564px">
    <div id="aciklama">
      <div class="resimaciklama"><img class="w3-image w3-animate-zoom w3-hide-small" src="\static\stockphoto3.png"
          alt="stockphoto" style="float: left; display: block; margin-left: 2%; margin-right: 2%; margin-top: 2%;"
          width="25%" height="25%"></div>
        <div class="anaaciklama" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif;">
          <p style="margin-left: 28%; background-color: #00796B; font-size:120%; margin-right: 2%;">
            <b>TEK AÇIKLIKLI ÇELİK KİRİŞ TASARIMI</b>
          <p style="margin-left: 2% ">
            <table class="table" style="width:70%">
              <tbody>
                <tr>
                  <td><b>Yönetmelik:<b></td>
                  <td>ÇYTHYE 2016-Çelik Yapıların Tasarım, Hesap ve Yapım Esasları</td>
                </tr>
                <tr>
                  <td><b>Tasarım Yaklaşımı:<b></td>
                  <td>GKT (Güvenlik Katsayıları ile Tasarım)</td>
                </tr>
                <tr>
                  <td><b>Kesit Tipleri:<b></td>
                  <td>IPN, IPE, HEA, HEB, HEM</td>                    
                </tr>
                <tr>
                  <td rowspan="4"><b>Yükleme Durumları:<b></td>
                  <td>1. Basit Kiriş - Düzgün Yayılı Yük</td>                    
                </tr>
             <tr>
                  <td>2. Basit Kiriş - Merkezde Noktasal Yük</td>			 
             </tr>
             <tr>
                  <td>3. Konsol Kiriş - Düzgün Yayılı Yük</td>			 
             </tr>
             <tr>
                  <td>4. Konsol Kiriş - Serbest Uçta Noktasal Yük</td>			 
             </tr>	
                <tr>
                  <td><b>Sehim Limitleri:<b></td>
                  <td>L/300 ve L/150</td>                    
                </tr>
                <tr>
                  <td><b>Birimler:<b></td>
                  <td>(N.m)</td>                    
                </tr>          			 		 			 
                <tr>
                  <td><b>Manuel Tasarım:<b></td>
                  <td>Tek bir kesit seçip analiz etmek içindir (Örnek: Mevcut bir kirişin analizi)</td>                    
                </tr>
                <tr>
                  <td><b>Otomatik Tasarım:<b></td>
                  <td>Seçilen kesit tipinde en uygun olan kesiti bulur.</td>                    
                </tr>
              </tbody>
            </table>
            <p><strong>UYARI:</strong>
              <br>Kullanıcı uygulamanın sonuçlarını kontrol etmekle yükümlüdür. Bu uygulamanın yanlış veya doğru kullanımı
                ile
                karşılaşılabilecek zararlardan uygulamayı hazırlayanlar hiçbir şekilde sorumlu tutulamazlar.</p>
          </p>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br>

  <!-- Content end-->

  <!-- Footer start-->
  <footer class="w3-center w3-black w3-padding-10 w3-bottom">
    <p style="word-spacing: 3px; font-family: Arial, Helvetica, sans-serif;">©2021 | HAZIRLAYANLAR:
      <a href="mailto:odemircan@protonmail.com" style="text-decoration: underline;" title="X" target="_blank"
        class="w3-hover-text-teal">ÖZGÜN
        DEMİRCAN</a><text>, </text>
      <a href="https://www.linkedin.com/in/s%C4%B1la-iklim-ta%C5%9Fkafa-97386b208/" style="text-decoration: underline;"
        title="X" target="_blank" class="w3-hover-text-teal">SILA
        İKLİM TAŞKAFA</a><text>, </text>
      <a href="https://www.linkedin.com/in/keremozmen" style="text-decoration: underline;" title="X" target="_blank"
        class="w3-hover-text-teal">KEREM
        ÖZMEN</a><text>, </text>
      <a href="https://www.linkedin.com/in/ali-ariba%C5%9F-5736381bb" style="text-decoration: underline;" title="X"
        target="_blank" class="w3-hover-text-teal">ALİ
        ARIBAŞ</a>
    </p>
  </footer>
  <!-- Footer end-->

</body>

</html>