<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>ANASAYFA</title>
</head>

<body style="background-color: rgb(235, 253, 253);">
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="/" class="w3-bar-item w3-button"><img
          src="static\interior_architectural_design_house_icon-icons.com_56323.ico" alt="çelik yapı"
          title="çelik yapı"><b>ÇELİK</b> YAPI</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="/" class="w3-bar-item w3-button"> <img src="static\home_house_icon-icons.com_49851.ico" alt="anasayfa"
            title="anasayfa">ANASAYFA</a>
        <a href="yontem_1.html" class="w3-bar-item w3-button"> <img
            src="static\settings_wrench_adjustment_icon_188629.ico" alt="yöntem_1" title="yöntem_1">Yöntem 1</a>
        <a href="yontem_2.html" class="w3-bar-item w3-button"><img
            src="static\settings_wrench_adjustment_icon_188629.ico" alt="yöntem_2" title="yöntem_2">Yöntem 2</a>
        <a href="\static\celik.apk" class="w3-bar-item w3-button" download><img
            src="\static\android_os_logo_icon_134673.ico" alt="app indir" title="App indir">App İNDİR</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:100%;" id="home">

    <img class="w3-image" src="\static\architect.jpg" alt="Architecture" style="display: block; margin: auto;"
      width="100%" height="200">


    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>ÇELİK</b></span> <span
          class="w3-hide-small w3-text-light-grey">YAPI</span></h1>
    </div>
  </header>



  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-10 w3-bottom">
    <p>HAZIRLAYANLAR:
      <span><a href="/" style="text-decoration: underline;" title="X" target="_blank" class="w3-hover-text-yellow">ÖZGÜN
          DEMİRCAN</a></span>
      <span><a href="https://www.linkedin.com/in/s%C4%B1la-iklim-ta%C5%9Fkafa-97386b208/"
          style="text-decoration: underline;" title="X" target="_blank" class="w3-hover-text-yellow">SILA
          İKLİM TAŞKAFA</a></span>
      <span><a href="https://www.linkedin.com/in/keremozmen" style="text-decoration: underline;" title="X"
          target="_blank" class="w3-hover-text-yellow">KEREM
          ÖZMEN</a></span>
      <span><a href="https://www.linkedin.com/in/ali-ariba%C5%9F-5736381bb" style="text-decoration: underline;"
          title="X" target="_blank" class="w3-hover-text-yellow">ALİ
          ARIBAŞ</a></span>
    </p>
  </footer>

</body>

</html>