<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>YÖNTEM 2</title>
</head>

<body>
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="/" class="w3-bar-item w3-button"><img
          src="static\interior_architectural_design_house_icon-icons.com_56323.ico" alt="çelik yapı"
          title="çelik yapı"><b>ÇELİK</b> YAPI</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="/" class="w3-bar-item w3-button"> <img src="static\home_house_icon-icons.com_49851.ico" alt="anasayfa"
            title="anasayfa">ANASAYFA</a>
        <a href="yontem_1.html" class="w3-bar-item w3-button"> <img
            src="static\settings_wrench_adjustment_icon_188629.ico" alt="yöntem_1" title="yöntem_1">Yöntem 1</a>
        <a href="yontem_2.html" class="w3-bar-item w3-button"><img
            src="static\settings_wrench_adjustment_icon_188629.ico" alt="yöntem_2" title="yöntem_2">Yöntem 2</a>
        <a href="\static\celik.apk" class="w3-bar-item w3-button" download><img
            src="\static\android_os_logo_icon_134673.ico" alt="app indir" title="App indir">App İNDİR</a>
      </div>
    </div>
  </div>


  <br><br><br>

  <h2 class="w3-text-red w3-center">YÖNTEM 2 İÇİN HESAPLAMA</h2>

  <div class="w3-center w3-yellow w3-padding-10">

    <form action="/yontem_2" method="post" style="background-color:greenyellow;">
      <table style="margin: auto;">
        <tr>
          <td><label for="p_degeri">P değeri (N):</label></td>
          <td><input class="w3-input" style="max-width:250px;" type="number" min="0" id="p_degeri" name="p"
              placeholder="p değeri girin"></td>
        </tr>
        <tr>
          <td><label for="ll">L değeri (m):</label></td>
          <td><input class="w3-input" style="max-width:250px;" type="number" min="0" name="l" id="ll"
              placeholder="l değeri girin"></td>
        </tr>
        <tr>
          <td><label for="celik_sinif">Çelik sınıfı:</label></td>
          <td>
            <select class="w3-select" style="max-width:250px;" id="celik_sinif" name="celik_sinifi">
              <option value="">SEÇİM YAPIN</option>
              <option value="235">S235</option>
              <option value="275">S275</option>
              <option value="355">S355</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="kesit_tipi">Kesit Tipi:</label></td>
          <td>
            <select class="w3-select" style="max-width:250px;" id="kesit_tipi" name="kesit_tipi">
              <option value="">SEÇİM YAPIN</option>
              <option value="A">HEA</option>
              <option value="B">HEB</option>
              <option value="M">HEM</option>
              <option value="IPE">IPE</option>
              <option value="IPN">IPN</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="yuk_dur">Yükleme Durumları:</label></td>
          <td>
            <select class="w3-select" id="yuk_dur" style="max-width:250px;" name="yukleme_durumlari">
              <option value="">SEÇİM YAPIN</option>
              <option value="1">Basit Kiriş - Düzgün Yayılı Yük</option>
              <option value="7">Basit Kiriş – Merkezde Noktasal Yük</option>
              <option value="19"> Konsol Kiriş – Düzgün Yayılı Yük</option>
              <option value="22">Konsol Kiriş – Serbest Uçta Noktasal Yük</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input class="w3-input" type="submit" value="HESAPLA"></td>
        </tr>
      </table>
    </form>
  </div>
  {% if uygun_mu %}
  <div class="w3-center w3-yellow w3-padding-5">
    <h1>{{kesitt}}</h1>
    <hr>
    <h1>{{uygun_mu}}</h1>
  </div>
  {%endif%}
  <br>
  <br>
  <br>
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-10 w3-bottom">
    <p>HAZIRLAYANLAR:
      <span><a href="/" style="text-decoration: underline;" title="X" target="_blank" class="w3-hover-text-yellow">ÖZGÜN
          DEMİRCAN</a></span>
      <span><a href="https://www.linkedin.com/in/s%C4%B1la-iklim-ta%C5%9Fkafa-97386b208/"
          style="text-decoration: underline;" title="X" target="_blank" class="w3-hover-text-yellow">SILA
          İKLİM TAŞKAFA</a></span>
      <span><a href="https://www.linkedin.com/in/keremozmen" style="text-decoration: underline;" title="X"
          target="_blank" class="w3-hover-text-yellow">KEREM
          ÖZMEN</a></span>
      <span><a href="https://www.linkedin.com/in/ali-ariba%C5%9F-5736381bb" style="text-decoration: underline;"
          title="X" target="_blank" class="w3-hover-text-yellow">ALİ
          ARIBAŞ</a></span>
    </p>
  </footer>
</body>

</html>