<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="\static\w3.css">
  <link href="\static\button.css" rel="stylesheet" />
  <script src="\static\myscript.js"></script>
  <title>Otomatik Tasarım - Çelik Kiriş Tasarımı</title>
</head>

<body style="background-color: #212121">
  <!-- Navbar start-->
  <div class="w3-top">
    <div class="w3-bar w3-wide w3-padding w3-card" style="background-color: #757575;">
      <a href="/" class="w3-bar-item w3-button w3-animate-opacity" style="color: #FFFFFF;"><img
          src="static\favicon3.ico" alt="çelik yapı" title="çelik yapı"><b> ÇELİK</b> YAPI</a>
      <div class="w3-right" style="background-color: #BDBDBD;">
        <a href="/" class="w3-bar-item w3-button w3-hover-teal"> <img src="static\home2.ico" alt="anasayfa"
            title="anasayfa">
          Anasayfa</a>
        <a href="yontem_1.html" class="w3-bar-item w3-button w3-hover-teal"> <img src="static\calculate.ico"
            alt="yöntem_1" title="yöntem_1"> Manuel Tasarım</a>
        <a href="yontem_2.html" class="w3-bar-item w3-button w3-hover-teal btn active"><img src="static\calculate.ico"
            alt="yöntem_2" title="yöntem_2"> Otomatik Tasarım</a>
        <a href="\static\celik.apk" class="w3-bar-item w3-button w3-hover-teal" download><img src="\static\android2.ico"
            alt="app indir" title="App indir"> App İNDİR</a>
      </div>
    </div>
  </div>
  <!-- Navbar end-->
  <br><br><br>
  <!-- Hesapla start-->
  <h2 class="w3-center" style="background-color: #00796B; color:#FFFFFF">YÖNTEM 2 İÇİN HESAPLAMA</h2>
  <div class="w3-row w3-container" style="margin:20px 0">
    <div class="w3-half w3-container">
      <div class="w3-leftbar w3-rightbar w3-border-teal">
        <form action="/yontem_2" method="post"
          style="background-color: #585858; position: relative; z-index:0; color:#FFFFFF">
          <div class="w3-row-padding w3-padding-16 w3-center w3-animate-zoom" id="resimler">
            <div class="w3-quarter" id="resim1">
              <img src="\static\basit_kiris_duzgun_yayili_yuk.png" alt="resim1" style="width:70%">
              <h4>Basit Kiriş Düzgün Yayılı Yük</h4>
            </div>
            <div class="w3-quarter" id="resim2">
              <img src="\static\basit_kiris_merkezde_noktasal_yuk.png" alt="resim2" style="width:70%">
              <h4>Basit Kiriş Merkezde Noktasal Yük</h4>
            </div>
            <div class="w3-quarter" id="resim3">
              <img src="\static\konsol_kiris_duzgun_yayili_yuk.png" alt="resim3" style="width:70%">
              <h4>Konsol Kiriş Düzgün Yayılı Yük</h4>
            </div>
            <div class="w3-quarter" id="resim4">
              <img src="\static\konsol_kiris_serbest_ucta_noktasal_yuk.png" alt="resim4" style="width:70%">
              <h4>Konsol Kiriş Serbest Uçta Noktasal Yük</h4>
            </div>
          </div>
          <table style="margin: auto;">
            <tr>
              <td><label for="yuk_dur">Yükleme Durumu:</label></td>
              <td>
                <select class="w3-select" id="yuk_dur" style="max-width:250px;" name="yukleme_durumlari"
                  onchange="gizle()">
                  <option value="">SEÇİM YAPIN</option>
                  <option value="1">Basit Kiriş - Düzgün Yayılı Yük</option>
                  <option value="7">Basit Kiriş – Merkezde Noktasal Yük</option>
                  <option value="19"> Konsol Kiriş – Düzgün Yayılı Yük</option>
                  <option value="22">Konsol Kiriş – Serbest Uçta Noktasal Yük</option>
                </select>
              </td>
            </tr>
            <tr>
            <tr>
              <td><label id="p_degeri2" for="p_degeri">P değeri (N):</label></td>
              <td><input class="w3-input" style="max-width:250px;" type="number" value="0" min="0" id="p_degeri"
                  name="P" placeholder="p değeri girin"></td>
            </tr>

            <tr>
              <td><label for="sehim_limiti">Sehim Limiti (L/?):</label></td>
              <td>
                <select class="w3-select" id="sehim_limiti" style="max-width:250px;" name="sehim_limit">
                  <option value="300">300</option>
                  <option value="150">150</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label id="ww2" for="ww">Yayılı Yük, w (N/m) :</label></td>
              <td><input class="w3-input" type="number" min="0" value="0" style="max-width:250px;" name="w" id="ww"
                  placeholder="w değeri girin"></td>
            </tr>
            <tr>
              <td><label id="qq2" for="qq">İlave Yayılı Yük, q (N/m) :</label></td>
              <td><input class="w3-input" type="number" min="0" value="0" style="max-width:250px;" name="ilave_q"
                  id="qq" placeholder="q değeri girin"></td>
            </tr>
            <tr>
              <td><label for="ll">L değeri (m):</label></td>
              <td><input class="w3-input" style="max-width:250px;" value="0" type="number" min="0" name="L" id="ll"
                  placeholder="l değeri girin"></td>
            </tr>
            <tr>
              <td><label for="llb">Lb değeri (m):</label></td>
              <td><input class="w3-input" type="number" min="0" value="0" style="max-width:250px;" name="Lb" id="llb"
                  placeholder="Lb değeri girin"></td>
            </tr>
            <tr>
              <td><label for="celik_sinif">Çelik sınıfı:</label></td>
              <td>
                <select class="w3-select" style="max-width:250px;" id="celik_sinif" name="celik_sinifi">
                  <option value="">SEÇİM YAPIN</option>
                  <option value="235">S235</option>
                  <option value="275">S275</option>
                  <option value="355">S355</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label for="kesit_tipi">Kesit Tipi:</label></td>
              <td>
                <select class="w3-select" style="max-width:250px;" id="kesit_tipi" name="kesit_tipi">
                  <option value="">SEÇİM YAPIN</option>
                  <option value="A">HEA</option>
                  <option value="B">HEB</option>
                  <option value="M">HEM</option>
                  <option value="IPE">IPE</option>
                  <option value="IPN">IPN</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
              <td>
                <div class="container">
                  <button class="button">Hesapla</button>
                </div>
              </td>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <!-- Hesapla end-->

    <div id="sonuc" class="w3-half w3-animate-opacity" style="background-color: #585858; padding-right: 30px; padding-left: 30px;">
      {% if uygun_mu %}
      <div class="w3-center" style="color:#FFFFFF">
        <h1>{{kesitt}}</h1>
        <hr>
        <h1>{{uygun_mu}}</h1>
      </div>
      {%endif%}
      {%if uygun_mu == "UYGUN"%}
      <div id="aciklama" class="w3-padding-5" style="background-color: #585858; color:#FFFFFF">
        <p>TEK AÇIKLIKLI ÇELİK KİRİŞ TASARIMI
          <br>[ÇYTHYE2016 Güvenlik Katsatıları ile Tasarım (GKT)]
          <br>©2021 - Özgün Demircan, Sıla İklim Taşkafa, Kerem Özmen, Ali Arıbaş
          <hr>
          GİRDİLER:
          <hr>
          Yükleme Durumu:
          <br>P (N) = {{P}}
          <br>Yayılı yük, w (N/m) = {{yayili_yuk}}
          <br>İlave yayılı yük, q (N/m) = {{ilave_q}}
          <br>L (m) = {{L}}
          <br>Lb (m) = {{Lb}}
          <br>Çelik sınıfı: {{celik_sinifi}}
          <br>Kesit: {{kesit}}
          <hr>
          TASARIM SONUÇLARI:
          <hr>
          E (MPa) = {{E}}
          <br>Sehim değerleri (mm):
          <br>Δ1 = {{maksimum_sehim}}
          <br>Δ2 = {{zati_sehim}}
          <br>Δ3 = {{ilave_sehim}}
          <br>Moment değerleri (N.m):
          <br>M1 = {{maksimum_moment}}
          <br>M2 = {{zati_moment}}
          <br>M3 = {{ilave_moment}}
          <br>Kesme kuvvetleri (N):
          <br>V1 = {{maksimum_kesme}}
          <br>V2 = {{zati_kesme}}
          <br>V3 = {{ilave_kesme}}
          <br>Toplam sehim (mm) = {{toplam_sehim}}
          <br>Toplam moment (N.m) = {{toplam_moment}}
          <br>Toplam kesme (N) = {{toplam_kesme}}
          <hr>
          Güvenli kesme kuvveti dayanımı Vg'nin belirlenmesi:
          <br>Aw = {{Aw}}
          <br>Cv1 = 1.0
          <br>Vg (N) = {{guvenli_kesme}}
          <hr>
          Güvenli eğilme momenti dayanımı Mg'nin belirlenmesi:
          <br>Mp (N.m) = {{Mp}}
          <br>Mn (N.m) = {{Mn}}
          <br>Mg (N.m) = {{Mg}}
          <hr>
          Tasarim Kontrolü:
          <br>{% if Mg >= toplam_moment %}
          <br>Mg >= Toplam Moment .....TAMAM !
          <br>{% else %}
          <br>Mg < Toplam Moment .....TAMAM DEĞİL ! <br>{%endif%}
            <br>{% if (L * 1000 / sehim_limiti) >= toplam_sehim %}
            <br>L * 1000 / Sehim Limiti >= Toplam Sehim .....TAMAM !
            <br>{% else %}
            <br> L * 1000 / Sehim Limiti < Toplam Sehim .....TAMAM DEĞİL ! <br>{%endif%}
              <br>{% if guvenli_kesme >= toplam_kesme %}
              <br>Vg >= Toplam Kesme .....TAMAM !
              <br>{% else %}
              <br>Vg < Toplam Kesme .....TAMAM DEĞİL ! <br>{%endif%}
                <br>KESİT: {{kesitt}}
                <br>Seçilen kesit : {{uygun_mu}} !
                <hr>
                Kullanılan Simgeler:
                <br>E: Elastisite modulu (Mpa)
                <br>Δ1: Girilen noktasal yük veya yayılı yükten oluşan sehim (mm)
                <br>Δ2: Kesitin zati ağırlığından oluşan sehim (mm)
                <br>Δ3: İlave yayılı yükten oluşan sehim (mm)
                <br>M1: Girilen noktasal yük veya yayılı yükten oluşan moment (N.m)
                <br>M2: Kesitin zati ağırlığından oluşan moment (N.m)
                <br>M3: İlave yayılı yükten oluşan moment (N.m)
                <br>V1: Girilen noktasal yük veya yayılı yükten oluşan kesme kuvveti (N)
                <br>V2: Kesitin zati ağırlığından oluşan kesme kuvveti (N)
                <br>V3: İlave yayılı yükten oluşan kesme kuvveti (N)
                <br>Aw: Gövde alanı (mm2)
                <br>Vg: Güvenli kesme kuvveti dayanımı (N)
                <br>Mg: Güvenli eğilme momenti dayanımı (N.m)
        </p>
        <br><br>
      </div>
      {%endif%}
    </div>
  </div>
  <!-- Rapor end-->
  <br><br><br>
  <!-- Content end-->

  <!-- Footer start-->
  <footer class="w3-center w3-black w3-padding-10 w3-bottom">
    <p style="word-spacing: 3px; font-family: Arial, Helvetica, sans-serif;">©2021 | HAZIRLAYANLAR:
      <a href="mailto:odemircan@protonmail.com" style="text-decoration: underline;" title="X" target="_blank"
        class="w3-hover-text-teal">ÖZGÜN
        DEMİRCAN</a><text>, </text>
      <a href="https://www.linkedin.com/in/s%C4%B1la-iklim-ta%C5%9Fkafa-97386b208/" style="text-decoration: underline;"
        title="X" target="_blank" class="w3-hover-text-teal">SILA
        İKLİM TAŞKAFA</a><text>, </text>
      <a href="https://www.linkedin.com/in/keremozmen" style="text-decoration: underline;" title="X" target="_blank"
        class="w3-hover-text-teal">KEREM
        ÖZMEN</a><text>, </text>
      <a href="https://www.linkedin.com/in/ali-ariba%C5%9F-5736381bb" style="text-decoration: underline;" title="X"
        target="_blank" class="w3-hover-text-teal">ALİ
        ARIBAŞ</a>
    </p>
  </footer>
  <!-- Footer end-->
</body>

</html>