<!DOCTYPE html>  
 <html>  
 <head>  

     <title>a tablo</title>  

 </head>  
 <body>  

  
  <a href="/">ANASAYFA</a>
  <a href="/">1. YÖNTEM</a>

    <h2>YÖNTEM 2 İÇİN HESAPLAMA</h2>   

    <form action = "/yontem_2" method="post">   
   
    P değeri (N): <input type="text" name="p">
    <br> 
    L değeri (m): <input type="text" name="l">
    <br>
    Çelik sınıfı:
    <select id="celik_sinif" name="celik_sinifi">
      <option value="">SEÇİM YAPIN</option>
      <option value="235">S235</option>
      <option value="275">S275</option>
      <option value="355">S355</option>
      </select>
    <br>
    <select id="kesit_tipi" name="kesit_tipi">
      <option value="">SEÇİM YAPIN</option>
      <option value="A">HEA</option>
      <option value="B">HEB</option>
      <option value="M">HEM</option>
      <option value="IPE">IPE</option>
      <option value="IPN">IPN</option>
      </select>
    <br><br>
    <input type="submit" value="HESAPLA">
    <br>
  
    </form>  


    {% if uygun_mu %}
    <div>
    <p>p (N): {{p}}, l (m): {{l}}, kesit: {{kesit}}, çelik sınıfı: {{celik_sinifi}}</p>
    <br>
    <h1>{{kesitt}}</h1>
    <br>
    <h1>{{uygun_mu}}</h1>
    </div>
    
    
    {%endif%}

 </body>  
 </html>